body {
    height: 100vh;
    margin: 0;
    background-color: #133C55;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    color: #A0BDCF;
    border-bottom: 3px solid #0C2332;
    padding: .5rem 1rem .5rem 2rem;
}

.main {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: 90vh;
}

.side-navigation {
    border-right: 3px solid #0C2332;
}

footer {
    padding: 2rem;
    background-color: #0C2332;
    height: 10vh;
}

footer > h2 {
    display: inline;
    padding: 1rem 1rem .2rem 1rem;
}

footer > div {
    display: inline;
    padding: 0 1rem 1rem 3rem;
}

.project-container {
    margin-top: 1rem;
    display: grid;
    gap: 1rem;
}


.button-project:hover, .new-note-button:hover {
    background-color: #BFD7EA;
}

.new-note-button, .button-project {
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    height: 2rem;
    background-color: white;
    display: block;
    border: 0;
}

.new-note-button {
    margin-bottom: 1rem;
}

.project {
    height: 3rem;
    border: 0;
}

.project:hover {
    background-color: #78A1BB;
}

.selected-project {
    background-color: #78A1BB;
}

.selected-project:hover {
    background-color: #A0BDCF;
}

.note-summary {
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    padding-left: 1rem;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: #A0BDCF;
}